.socialConnectsignin{
    position: absolute;
    z-index: 999;
    width: 90%;
    height: 100vh;
    margin-top: 40px;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    background: rgba(173, 216, 230, 0.2); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    border: 2px solid rgba(173, 216, 230, 0.3); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.socialConnectsignin .head{
    width: 112px;
}
.socialConnectsignin h3{
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.socialConnectsignin h4{
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.21rem;
}

.nh-signin-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 324px;
    border-radius: 36px;
    margin: 0 auto;
    cursor: pointer;
    transition:all 0.5s ease-in-out;
}
.nh-signin-chat:hover{
    background-color: #22c8e5;
}
.nh-signin-chat p{
    margin: 0 !important;
    line-height: 35px;
    font-weight: 600;
}
.nh-signin-chat img{
    width: 78px;
}
.socialConnectsignin .socailConnect-header{
    display: flex;
    justify-content: space-between;
}
.socialConnectsignin .welcome-chat{
    line-height: 35px;
    font-weight: 600;
}
.socialConnectsignin .signout{
    cursor: pointer;
}
.socialConnectsignin .socailConnect-header:hover{
    filter:opacity(.8)
}
.socialchatclose {
    width: 28px;
    height: 28px;
}
.socialchatclose:hover{
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}
.signout{
  width: 114px;
}



