.northern-hikers-container{
  width: 90%;
  margin: auto;
}
.nothern-hikers-navconatiner{
  position: relative;
  z-index: 999;
}
.nothern-hikers{
  position: relative;
}

section{
  padding: 50px 0;
}
a{
  text-decoration: none !important;
  color: unset !important;
}
a:hover{
  color: unset !important;
}

link{
  color: unset;
}
link:hover{
  color: unset;
}  
.container{
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}